<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Wiki Maps</title>
    <meta charset="utf-8">
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0' />
    <!-- Initial Project Setup CSS imports-->
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/create_map.css" type="text/css" />


    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>


    <!-- Bootstrap template imports-->
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css" type="text/css" >
    <link rel="stylesheet" href="/styles/simple-sidebar.css" type="text/css" />



    <script src="https://kit.fontawesome.com/192259f29d.js" crossorigin="anonymous"></script>

    <script
    src="https://maps.googleapis.com/maps/api/js?key=&callback=&libraries=places&v=weekly"
    defer
    ></script>

  </head>
  <body>
  <div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
      <div class="sidebar-heading"><i class="fas fa-globe"></i> WIKI - MAPS </div>
      <!-- checks for cookies -->


      <div class="list-group list-group-flush">
        <% if (templateVars.userId) { %>
          <div class="avatar">
            <img src="<%= templateVars[0].avatar_url %>">
          </div>
          <span class="handle text-center">
            <h2><%= templateVars[0].handle %></h2>
          </span>
        <% } %>


        <a href="#" id="public-map" class="list-group-item list-group-item-action bg-light">PublicMaps</a>
        <!-- checks for cookies -->
        <% if (templateVars.userId) { %>
          <a href="#" id="fave-map" class="list-group-item list-group-item-action bg-light profileTabs">MyFaves</a>
          <a href="#" id="contributions-map" class="list-group-item list-group-item-action bg-light profileTabs">MyMaps</a>
          <a href="#" id="create_new_map" class="list-group-item list-group-item-action bg-light profileTabs">GenerateMap</a>
        <% } %>
      </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">

      <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
        <button class="btn btn-primary" id="menu-toggle">Menu</button>

        <div id="home-icon" class="navbar-text ml-4">
          Wiki- Maps
        </div>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <% if (!templateVars.userId) { %>
              <li class="nav-item active logged-out-Tabs">
                <a class="nav-link " href="#" id="register-button">Register <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item logged-out-Tabs">
                <a class="nav-link" href="#" id="login-button">Login</a>
              </li>
            <% } %>
            <% if (templateVars.userId) { %>
              <li class="nav-item">
                <a class="nav-link profileTabs" href="#" id="logout-button">Logout</a>
              </li>
            <% } %>
          </ul>
        </div>
      </nav>

    <div id="main-area" class="overflow-auto container-fluid">

    </div>

    <!-- Google Maps API javascript scripts, move to doc.OnReady-->
    <script type="text/javascript" src="/scripts/load_map.js"></script>
    <script type="text/javascript" src="/scripts/public_maps.js"></script>
    <script type="text/javascript" src="/scripts/utilities.js"></script>
    <script type="text/javascript" src="/scripts/map_creator.js"></script>
    <script type="text/javascript" src="/scripts/profile.js"></script>
    <script type="text/javascript" src="/scripts/login_form.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>





  </div>
  <!-- /#wrapper -->

  <!-- Bootstrap core JavaScript -->


  <!-- Menu Toggle Script -->
  <script>
    $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });
  </script>


</body>
</html>
