body {
  background-color: #EEE;
  text-align: center;
}

body h1 {
  color: #244751;
}

body .sidebar-heading {
  height: 56px;
}

body .avatar {
  width: 200px;
  height: 200px;
  margin: 25px auto;
  overflow: hidden;
  border-radius: 50%;
  position: relative;
}

body .handle {
  position: relative;
}

body #map {
  height: 80vh;
  /* The height is 400 pixels */
  width: 100%;
  /* The width is the width of the web page */
}

body .mapPost {
  margin: 2em 1em;
}

body .mapPost:hover {
  box-shadow: 7px 7px 8px 3px rgba(31, 30, 30, 0.233);
}

body .mapPost img {
  object-fit: cover;
  height: 25em;
}

body .mapPost img:hover {
  cursor: pointer;
}

body .mapPost i {
  color: coral;
}

body .hide {
  display: none;
}

body footer {
  display: "none";
}

#main-area ul {
  padding-left: 0;
}

.fa-heart {
  font-size: 1.5em;
  float: right;
  margin-left: 10;
}
