body {
  background-color: #EEE;
  text-align: center;
}

body h1 {
  color: #244751;
}

body #map {
  height: 80vh;
  /* The height is 400 pixels */
  width: 100%;
  /* The width is the width of the web page */
}

body .mapPost {
  margin: 2em 1em;
}

body .mapPost:hover {
  cursor: pointer;
}

body footer {
  display: "none";
}
