// See: https://sass-lang.com/

body {
  background-color: #EEE;
  text-align: center;

  h1 {
    color: #244751;

  }

  .avatar {
    width:200px;
    height:200px;
    margin: 25px auto;
    overflow: hidden;
    border-radius:50%;
    position: relative;
    // margin: auto;
  }

  .handle{
    position: relative;
  }

  //dont the size of the div element that contains the map */
  #map {
    height: 80vh;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
  }

  .mapPost {
    margin: 2em 1em;




    img {
      object-fit: cover;
      height: 25em;

      &:hover {
        cursor: pointer
      }
    }

    svg {
      display: inline;
      color: black;

      .favorite{
        width: 2em;
      }
    }
  }

  .hide {
    display: none;
  }

  footer {
    display:"none"
  }
}
